# mac
**/.DS_Store

# Idea command
.codebuddy/
.idea/
.trae/


# specs
specs/
.specify


# docs
CLAUDE.md
docs
*.zip

# scripts
scripts/
!skills-master/assets/skill-templates/*/scripts/
.playwright-mcp

# node_modules
node_modules/

# package manage
package.json
pnpm-lock.yaml

# debug output
debug-output

# generate file
/rule.md
tmp/
.aicontext*